---
import { getCollection } from "astro:content";

import LayoutBase from '@/layouts/LayoutBase.astro';
import Link from '@/elements/Link.astro';
import TagEl from '@/elements/Tag.astro';

export async function getStaticPaths() {
    const postList = await getCollection('blog');

    const uniqueTags = [...new Set(postList.map((post: any) => post.data.tags).flat())];

    const paths = uniqueTags.map((tag) => ({
        params: { tag },
        props: { postList },
    }));

    return paths;
}

const { tag } = Astro.params;
const { postList } = Astro.props;
const filteredPosts = postList.filter((post: any) => post.data.tags?.includes(tag));
---

<LayoutBase title={tag}>
    <p>Posts tagged with <TagEl tag={tag}>{tag}</TagEl></p>
    <ul>
        {
            filteredPosts.map((post: any) => (
                <li>
                    <Link href={`/posts/${post.id}`}>{post.data.title}</Link>
                </li>
            ))
        }
    </ul>
</LayoutBase>
