---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Me';

const identity = {
    firstName: 'Dima',
    country: 'Ukraine',
    occupation: 'Adeptus Mechanicus',
    hobbies: ['thinking', 'smoking', 'gaming'],
};
const skills = ['TypeScript', 'React', 'Next.js', 'Tailwind', 'Astro', 'AI', 'LLM', 'Writing Docs'];
---

<BaseLayout title={pageTitle}>
    <div>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/blog'>Blog</a>

        <h1 class='text-3xl font-bold underline'>{pageTitle}</h1>

        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and work as an {identity.occupation}.</li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>I'm skilled with:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </div>
</BaseLayout>
