---
import '../theme/init.css';

const pageTitle = 'About Me';

const identity = {
    firstName: 'Dima',
    country: 'Ukraine',
    occupation: 'Adeptus Mechanicus',
    hobbies: ['thinking', 'smoking', 'gaming'],
};
const skills = ['TypeScript', 'React', 'Next.js', 'Tailwind', 'Astro', 'AI', 'LLM', 'Writing Docs'];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>

    <body>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/blog'>Blog</a>

        <h1 class='text-3xl font-bold underline'>{pageTitle}</h1>

        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and work as an {identity.occupation}.</li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>I'm skilled with:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </body>
</html>
